<script setup>
const contador = ref(0)
let colorContador = ref(null)

const incrementar = () => {
    if (contador.value >= 0) {
        contador.value++
        colorContador.value = 'text-green'
    }
}

const decremento = () => {
    if (contador.value > 0) {
        contador.value--
        colorContador.value = 'text-red-darken-3'
    }
}

const limpiar = () => {
    contador.value = 0
}

</script>


<template>
    <div class="h-screen d-flex flex-column justify-center align-center bg-grey-darken-4 text-grey-lighten-2">

        <div>
            <p :class="`text-h1 font-weight-bold ${contador == 0 ? colorContador = null : colorContador}`">
                {{ contador }}
            </p>
        </div>

        <h2 class="text-h3 text-uppercase mt-8">
            Contador
        </h2>

        <div class="mt-8 d-flex justify-space-between align-center">
            <v-btn class="mr-md-4" @click="limpiar">Limpiar</v-btn>
            <v-btn class="mr-md-4" color="error" @click="decremento">Decrementar</v-btn>
            <v-btn color="success" @click="incrementar">Incrementar</v-btn>
        </div>

    </div>
</template>
